body {
    background-color: #FFEEDB;
    font-size: 1em;
    font-family:'Heebo', sans-serif;
    margin: 10px;
    text-align: center;
}
img {
    margin: 0 auto;
    display: flex;
    align-items: : center;
    width: 50%;
    min-width: 350px;
    max-width: 800px;
}

h1 {
    font-family:'Heebo', sans-serif;
    font-size: 3.5em;
    margin: 20px;
}
h2 {
    font-family:'Heebo', sans-serif;
    margin: 20px;
}

h4 {
    font-family:'Heebo', sans-serif;
    font-size: 20px;
    margin: 20px;

}
h4 a{
  font-family: 'Heebo', sans-serif;
  text-decoration: none;
  font-weight: bold;
  color:#163750;
}

h4 a:hover {
    background-color: #163750;
    font-weight: bold;
    color: #E6F6CA;
    opacity: 0.7;
}
p {
    font-family: 'Heebo', sans-serif;
    color: black;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px;
}
p a {
    font-family: 'Heebo', sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin: 20px;
}
p a:hover {
    background-color: #163750;
    font-weight: bold;
    color: lightgrey;
    opacity: 0.7;
}
#navigation {
    width: 100%;
    background-color: #98c1d9;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
}
#captions p{
  font-size: 1em;
  font-weight: bolder;
  font-family: 'Heebo', sans-serif;
  text-align: center;
}

ul {
    font-family: 'Heebo', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
ul a {
    font-family: 'Heebo', sans-serif;
    color: #163750;
    text-decoration: none;
    font-weight: bolder;
}
ul a:hover {
    background-color: #163750;
    font-weight: bolder;
    color: lightgrey;
    opacity: 0.7;
}
.search-text{
    margin-top: 10px;
    background-color: #98c1d9;
    padding-top: 10px;
    padding-bottom: 50px;
}
.search-text .input-search{
    height:45px;
    width:50%;
    padding-left:20px;
    color:black;
}
.search-text .btn-search{
    background: grey;
    font-family: 'Heebo', sans-serif;
    font-weight: bolder;
    border: none;
    color: black;
    height: 45px;
    width: 80px;
}
.search-text h2{
    color: black;
    font-weight: 700;
}


@media screen and (max-width: 800px) {
  p {
    font-size: 18px;
  }
  #navigation ul{
    flex-flow: wrap;
  }
  img{
    width: 60%;
    align-items: center;
    margin: 0 auto;
  }
  .menu{
  flex-flow: wrap;
  }
  .address{
    flex-flow: wrap;
  }
}



@media screen and (max-width: 600px) {
  #navigation ul{
    flex-flow: column;
    padding: 0;
    font-size: 20px;
  }
  h1{
    font-size: 42px;
  }
  h2{
    font-size: 30px;
  }

  p {
   font-size: 20px;
   padding: 5px;
  }
  img{
    width: 100%;
    align-items: center;
    margin: 0 auto;
  }
}

#body {
  display: flex;
  justify-content: center;
}

.imageGallery {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  max-width: 500px;
}

.imageHolder {
  margin: 20px 0;
  font-family: 'Heebo', sans-serif;
}

.imageHolder caption {
  margin: 10px 0;
}

.imageHolder img {
  border: none;
  width: 80%;
  min-width: 70%;
  max-width: 500px;
  min-height:100px;
}



.button_holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hideThisDiv {
  display: none;
}

#iframe{
  text-align:center;
  display:block;
}


.selectHolder {
  display: block;
  width: 100%;
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid #555;
}
